<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nextecomgen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D671E35F2FBC5AE300BE4984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D671E36F2FBC5AE600BE4984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D671E3792FBC5AE600BE4984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
